		* {
			margin: 0;
			padding: 0;
		}

		.header {
			width: 100%;
			height: 69px;
			background-color: black;
			color: white;
		}

		.header .bt {
			margin-left: 20px;
			font-size: 24px;
			line-height: 69px;
		}

		.header .wz {
			line-height: 69px;
			margin-left: 50px;
		}

		.header ul {
			list-style: none;
			height: 69px;
			width: 40%;
			float: right;
		}

		.header ul li {
			float: left;
			width: 25%;
			height: 100%;
			line-height: 69px;
		}

		.header ul li a {
			text-decoration: none;
			color: white;
		}

		.cent {
			width: 100%;
			height: 600px;
		}

		.left {
			float: left;
			width: 20%;
			height: 100%;
			background-color: gray;
		}

		.yhsy {
			height: 30%;
			text-align: center;
		}

		.img {
			/*…Ë÷√Õº∆¨µƒøÌ∏ﬂ*/
			width: 90px;
			height: 90px;
			border-radius: 50%;
			overflow: hidden;
			margin: 20px auto;
		}

		.nr {
			color: white;
			line-height: 49px;
		}

		.nrtop {
			padding-left: 10px;
		}

		.nrtop_rig {
			float: right;
			margin-right: 20px;
		}

		.ul {
			margin-left: 30px;
			list-style: none;
		}

		.ul li a {
			text-align: center;
			text-decoration: none;
			color: white;
		}

		

		.nr:hover .icon-jiantouxia{
			animation: sj .5s linear forwards;
		}

		@keyframes sj {
			from {
				transform: rotateZ(0deg);
			}

			to {
				transform: rotateZ(180deg);
				top: 10px;
				right: 1px;
			}
		}

		.nr:hover .nrtop {
			background-color: aqua;
		}
		.ul a:hover{
			color: red;
		}

		.right {
			float: left;
			height: 100%;
			width: 80%;
			text-align: center;
		}
		.right h1{
			text-align: center;
		}

		.fooder {
			width: 100%;
			height: 30px;
			text-align: center;
		}
		.findbg	td,th{
        border: 1px solid black;
        width: 150px;
        height: 30px;
        text-align: center;
        line-height: 30px;
			}
			.fooder{
				width: 100%;
				height: 30px;
				text-align: center;
			}