	* {
				margin: 0;
				padding: 0;
			}
			
			#app {
				height: 478px;
				width: 100%;
				background: url(../imags/xuejing.jpg) no-repeat;
				background-size: 100% 100%;
				text-align: center;
				padding-top: 100px;
			}
			
			.box {
				width: 450px;
				height: 420px;
				background-color: whitesmoke;
				margin: 0px auto;
				opacity: .9;
				  border-radius: 10px;
    box-shadow: 5px 5px 5px #d8d6d6;
			}
			
			.box h1 {
				margin-bottom: 15px;
				margin-top: 15px;
			}
			
			.txhz {
				width: 80%;
				display: flex;
				justify-content: space-between;
				margin: auto;
			}
			
			.xtxhz {
				width: 66%;
				display: flex;
				justify-content: space-between;
				margin: auto;
				margin-left: 40px;
				margin-top: 10px;
			}
			.txhz label{
				margin-top: 10px;
				vertical-align: middle;
			}
			#username,
			#password,
			#qrpwd {
				width: 240px;
				height: 29px;
				border-radius: 10px;
				margin-top: 10px;
			}
			
			input[type=button] {
				width: 240px;
				height: 29px;
				line-height: 29px;
				border: none;
			    background-color: #aaaa; 
				margin-top: 30px;
				border-radius: 5px;
			}
			.ca{
				display: none;
				
